{% extends 'base.html' %}

{% block title %}Last Articles{% endblock %}

{% block content %}


        <header>
            <div class="name">
                <h1>MyOnlineLibrary</h1>
                <h2>Latest articles</h2>

            </div>
        </header>

<div class="articles">
    {%if latest_articles_list%}

        <ul class="art">
            {%for a in latest_articles_list%}
                <li><a href="{% url 'blog:detail' a.id %}">{{a.a_title}}</a></li>
            {%endfor%}
        </ul>

    {%else%}

        <div class="no_art"><h3>NO ARTICLES</h3></div>

    {%endif%}
</div>

{% endblock %}